<div class="container">
    <div class="column space-between">
        <h1>Ben Kimim ?</h1>
        <p class="paragraph">
            Merhaba!
            Ben Esmanur. Adana Alparslan Türkeş Bilim ve Teknoloji Üniversitesi Bilgisayar Mühendisliği mezunuyum. 
            Web geliştirme sürecime 3. sınıfta Backend ile başladım. Bu alanda çeşitli bootcamplere katılma ve staj yapma fırsatım oldu!
            Ancak 4. sınıfın ikinci döneminde Turkcell Geleceği Yazanlar 3.0 Programına kabul edildim. Frontend serüvenim işte burada başladı.
            Değerli hocamız Varol Maksutoğlu ile toplamda 4 ay süren ve çeşitli projeler geliştirdiğimiz bir eğitim süreci geçirdik.
            Bu süreçte yaptığımız takım çalışmaları bana birçok bilgi ve deneyim kattı. Burada geliştirdiğimiz projeleri arkadaşlarımızın karşısında sunmak da bana pek çok fayda sağladı.
            Bu verimli 120 saatin sonunda Turkcell Grup Şirketleri'nden olan Atmosware şirketinde staj yapma imkanı buldum. 
            20 günlük bu süreçte ise Turkcell TV+ ekibi ile çalıştım ve TV+ UI'ı üzerinde çeşitli tasklar tamamladım. Aynı zamanda Agile metodolojisini daha yakından deneyimleme fırsatım oldu.
            Bu süreçlerden sonra şu anda hala kendimi geliştirmeye severek devam ediyorum. 
        </p>
            <br/>
            <div class="row full-center gap-2">
                <a class="link" href="https://www.linkedin.com/in/esmanur-mazlum/">LinkedIn</a>
                <a class="link" href="https://github.com/Esmanurrr">GitHub</a>
            </div>
    </div>
</div>