<div class="container">
    <div>
        <h2>{{ category | titlecase }} News</h2>
        <div class="layout gap-1 mt-25 wrap">
          <div class="filter-menu">
            <ul *ngFor="let country of countries" (click)="changeCountry(country.code)">
              <li>{{ country.name }}</li>
            </ul>
          </div>
          <div class="grid gap-1">
            <div class="new wrap" *ngFor="let article of news">
              <img class="new-img" src={{article.urlToImage}} alt={{article.tite}}/>
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
              <a [href]="article.url" target="_blank">Read more</a>
            </div>
          </div>
        </div>
    </div>
</div>
  