<div class="container">
  <p>home works!</p>
  <div>
    <div>
      <h2>News Articles</h2>
      <div class="row full-center" style="padding: 20px">
        <app-slider [slides]="slides"></app-slider>
      </div>
      <div class="grid align-center gap-2 mt-25 wrap">
        <a (click)="goToLink(article.url)" class="new" *ngFor="let article of data?.articles">
          <img
            class="new-img"
            [src]="article.urlToImage"
            [alt]="article.tite"
          />
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
